[Unit]
Description=Nightingale Index
After=network-online.target
Wants=network-online.target

[Service]
# modify when deploy in prod env
User=n9e
Group=n9e

Type=simple
ExecStart=/usr/local/n9e/n9e-index
WorkingDirectory=/usr/local/n9e

Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target